@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@font-face {
  font-family: "BRRR";
  src: url("../fonts/BRRR-Medium.otf") format("opentype");
  font-weight: normal;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient {
  background: linear-gradient(
    -45deg,
    hsl(321, 67%, 94%),
    hsl(333, 31%, 93%),
    hsl(82, 20%, 92%),
    hsl(106, 38%, 89%),
    hsl(101, 67%, 89%),
    hsl(163, 88%, 84%),
    hsl(26, 100%, 93%),
    hsl(32, 74%, 93%),
    hsl(56, 33%, 92%),
    hsl(157, 78%, 89%)
  );
  background-size: 400% 400%;
  -webkit-animation: gradientBG 15s ease infinite;
  animation: gradientBG 15s ease infinite;
}

body,
html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease;
}

a:hover {
  transition: opacity 0.2s ease;
  opacity: 0.5;
  text-decoration-color: inherit;
}
ul {
  list-style: none;
  margin: 0;
}

//TYPOGRAPHY-------------------------------------

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
}

h1,
h2 {
  font-weight: 500;
  font-family: "BRRR", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.8rem;
  letter-spacing: -1px;
  line-height: 3.6rem;
}

h2 {
  font-size: 1.7rem;
  letter-spacing: -0.75px;
  line-height: 1.2;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 1.1875;
  color: #a0a0a0;
  font-weight: normal;
}

p {
  font-size: 1.4rem;
  letter-spacing: -0.25px;
  line-height: 1.7rem;
}

@media (min-width: 1280px) {
  h1 {
    font-size: 4.8rem;
    letter-spacing: -1px;
    line-height: 6.6rem;
  }

  h2 {
    font-size: 1.5rem;
    letter-spacing: -0.75px;
    line-height: 1.1667;
  }

  h3 {
    letter-spacing: -0.5px;
    line-height: 1.1875;
    color: #a0a0a0;
    font-weight: normal;
  }

  p {
    line-height: 1.4375;
  }
}
